### Task: Load workbook and display sheet names
 Description: This code loads an Excel workbook  using pandas and displays all the sheet names.

In [1]:
#Import Libraries
import pandas as pd

In [2]:
# Loading workbook
xls = pd.ExcelFile('GHANA ORIGIN REP.xlsx')
# Display all sheet names
print(xls.sheet_names)

['SUMMARY', '2025-QUALITY REP', 'FUNDING', 'SAMPA-PURCHASES', 'SAMPA-DRYING', 'SAMPA-DISPATCHES ', 'SAMPA W.H', 'NKRANKWANTA-PURCHASES', 'NKRANKWANTA-DRYING', 'NKRANKWANTA-DISPATCHES', 'NKRANKWANTA W.H', 'DROBO-PURCHASES', 'DROBO-DRYING', 'DROBO-DISPATCHES', 'DROBO W.H', 'WENCHI-PURCHASES', 'WENCHI-DRYING', 'WENCHI-DISPATCHES', 'WENCHI W.H', 'TECHIMAN-PURCHASES', 'TECHIMAN-DRYING', 'TECHIMAN-DISPATCHES', 'TECHIMAN W.H', 'SAWLA-PURCHASES', 'SAWLA-DRYING', 'SAWLA-DISPATCHES', 'SAWLA W.H ', 'LUC DISP', 'EX-TEMA', 'TOTALS', 'BL & CTNR-WISE REPORTCASHEW', 'Comparisons']

In [3]:
# ========================================
# Project: Workbook Processing
# Task: Select all Purchases sheets using pandas
# Description: This code selects all sheets related to "Purchases"
# from the loaded workbook using pandas and stores them in a dictionary.
# ========================================

In [4]:
# Load the workbook
xls = pd.ExcelFile('GHANA ORIGIN REP.xlsx')

# List of all sheets related to "Purchases"
purchases_sheets = [
    'SAMPA-PURCHASES',
    'NKRANKWANTA-PURCHASES',
    'DROBO-PURCHASES',
    'WENCHI-PURCHASES',
    'TECHIMAN-PURCHASES',
    'SAWLA-PURCHASES'
]

# Selecting the sheets using pandas
selected_sheets = {sheet: pd.read_excel(xls, sheet) for sheet in purchases_sheets}

# Display the names of the selected sheets
print("Selected Purchases Sheets:")
for sheet_name in selected_sheets:
    print(sheet_name)

Selected Purchases Sheets:
SAMPA-PURCHASES
NKRANKWANTA-PURCHASES
DROBO-PURCHASES
WENCHI-PURCHASES
TECHIMAN-PURCHASES
SAWLA-PURCHASES

### Task: Process Purchases sheets into separate DataFrames with specified columns
Description: This code processes each "Purchases" sheet by skipping the first row, adding a new "Station" column with the sheet name (excluding "Purchases"), and storing the data in separate DataFrames with only the specified columns.

In [5]:
# List of columns to keep
columns_to_keep = [
    'Date', 'Name', 'Grn #', 'KOR', 'Moisture %', '# of Bags', 'Cum bags',
    'wgt/bag', 'Net wgt', 'Cum wgt', 'Rate', 'Value', 'Cum value',
    'Cheque No.', 'Receipt No.', 'Funding', 'SAP PO ID', 'Tra/Org', 'Wk',
    'Month'
]


# Load the workbook
xls = pd.ExcelFile('GHANA ORIGIN REP.xlsx')

# List of all sheets related to "Purchases"
purchases_sheets = [
    'SAMPA-PURCHASES',
    'NKRANKWANTA-PURCHASES',
    'DROBO-PURCHASES',
    'WENCHI-PURCHASES',
    'TECHIMAN-PURCHASES',
    'SAWLA-PURCHASES'
]

# Process each sheet
for sheet in purchases_sheets:
    # Load the sheet into a DataFrame, skipping the first row
    df = pd.read_excel(xls, sheet_name=sheet, header=1)
    
    # Handle column name variations (e.g., 'Tra/Organic' instead of 'Tra/Org')
    df.columns = df.columns.str.replace('Trc/Organic', 'Tra/Org', regex=False)
    
    # Filter columns that exist in the DataFrame
    existing_columns = [col for col in columns_to_keep if col in df.columns]
    df = df[existing_columns]
    
    # Dynamically create a DataFrame variable for each sheet
    globals()[f'{sheet.replace("-PURCHASES", "").lower()}_df'] = df

    # Display the first few rows to verify
    #print(f"Processed {sheet} (First 5 rows):")
    #print(df.head(), "\n")

### Organic / Traceability column for Sawla and

In [6]:
sawla_df['Tra/Org'] = None  # Or set a specific value if needed
# List the newly created DataFrames
new_dfs = [var for var in globals() if var.endswith('_df')]
print(new_dfs)
techiman_df.columns

['sampa_df', 'nkrankwanta_df', 'drobo_df', 'wenchi_df', 'techiman_df', 'sawla_df']

Index(['Date', 'Name', 'Grn #', 'KOR', 'Moisture %', '# of Bags', 'Cum bags',
       'wgt/bag', 'Net wgt', 'Cum wgt', 'Rate', 'Value', 'Cum value',
       'Cheque No.', 'Receipt No.', 'Funding', 'SAP PO ID', 'Tra/Org', 'Wk',
       'Month'],
      dtype='object')

### Remove N/As

In [7]:
# List of all DataFrames (already created)
dfs = ['sampa_df', 'nkrankwanta_df', 'drobo_df', 'wenchi_df', 'techiman_df', 'sawla_df']

# Date columns to check for NaN (you can modify this list based on your actual columns)
date_columns = ['Date', 'Month']

# Loop through each DataFrame and remove rows where any of the date columns have NaN values
for df_name in dfs:
    df = globals().get(df_name)
    
    if df is not None:
        # Remove rows with NaN in any of the date columns
        df.dropna(subset=date_columns, how='any', inplace=True)
        
        # Display the first few rows to verify
        #print(f"Updated {df_name} after removing rows with NaN in date columns:")
        #print(df.head(), "\n")

### Add station columns to each df

In [8]:
# Dictionary of sheet names and their corresponding station names
station_mapping = {
    'SAMPA-PURCHASES': 'Sampa',
    'NKRANKWANTA-PURCHASES': 'Nkrankwanta',
    'DROBO-PURCHASES': 'Drobo',
    'WENCHI-PURCHASES': 'Wenchi',
    'TECHIMAN-PURCHASES': 'Techiman',
    'SAWLA-PURCHASES': 'Sawla'
}

# Add the 'Station' column for each DataFrame
for sheet, station in station_mapping.items():
    # Get the DataFrame corresponding to the sheet
    df = globals().get(f'{sheet.replace("-PURCHASES", "").lower()}_df')
    
    if df is not None:
        # Add the 'Station' column with the appropriate station name
        df['Station'] = station
        
        # Display the first few rows to verify
        #print(f"Updated {sheet} with 'Station' column:")
       # print(df.head(), "\n")

### DF SHAPES

In [9]:
# Loop through each DataFrame and print its shape
for df_name in dfs:
    df = globals().get(df_name)
    
    if df is not None:
        # Print the shape of the DataFrame
        print(f"Shape of {df_name}: {df.shape}")
drobo_df.head(2)

Shape of sampa_df: (4, 21)
Shape of nkrankwanta_df: (3, 21)
Shape of drobo_df: (20, 21)
Shape of wenchi_df: (21, 21)
Shape of techiman_df: (43, 21)
Shape of sawla_df: (0, 21)

,Date,Name,Grn #,KOR,Moisture %,# of Bags,Cum bags,wgt/bag,Net wgt,Cum wgt,...,Value,Cum value,Cheque No.,Receipt No.,Funding,SAP PO ID,Tra/Org,Wk,Month,Station
0,2025-01-15,Gabriel Kwabena Fosu,51.0,50.78,12.1,11.0,11,86.181818,948.0,948,...,20856.0,20856.0,352,101,C&C,NaN,NaN,3.0,Jan,Drobo
1,2025-01-16,Gabriel Kwabena Fosu,52.0,52.09,11.9,19.0,30,84.736842,1610.0,2558,...,35420.0,56276.0,353,102,C&C,NaN,NaN,3.0,Jan,Drobo

In [10]:
# List of all DataFrames (already created)
dfs = ['sampa_df', 'nkrankwanta_df', 'drobo_df', 'wenchi_df', 'techiman_df', 'sawla_df']

# List to hold the DataFrames
df_list = []

# Loop through each DataFrame and append to the list
for df_name in dfs:
    df = globals().get(df_name)
    
    if df is not None:
        df_list.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Convert the 'Date' column to datetime format (adjust the column name if necessary)
combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')

# Sort by the 'Date' column (ascending order is default)
combined_df = combined_df.sort_values(by='Date')

# Display the shape of the combined DataFrame
print(f"Shape of the combined DataFrame: {combined_df.shape}")

# Display the first few rows to verify
#print(combined_df.head())
# Save the combined DataFrame to an Excel file
combined_df.to_excel('Ghana RCN Purchases.xlsx', index=False)

# Confirm that the file was saved
print("Combined DataFrame has been saved as 'Ghana RCN Purchases.xlsx'")
print(combined_df.shape)
combined_df.head(2)

Shape of the combined DataFrame: (91, 21)
Combined DataFrame has been saved as 'Ghana RCN Purchases.xlsx'
(91, 21)

,Date,Name,Grn #,KOR,Moisture %,# of Bags,Cum bags,wgt/bag,Net wgt,Cum wgt,...,Value,Cum value,Cheque No.,Receipt No.,Funding,SAP PO ID,Tra/Org,Wk,Month,Station
48,2025-01-13,Hamidu Ahmed Harrison,151.0,NaN,11.9,24.0,24.0,84.833333,2036.0,2036.0,...,44792.0,44792.0,85,0002,C&C,NaN,NaN,3.0,Jan,Techiman
49,2025-01-13,Adam Kwadwo Fordjour,152.0,NaN,11.9,23.0,47.0,85.086957,1957.0,3993.0,...,43054.0,87846.0,86,4501,C&C,NaN,NaN,3.0,Jan,Techiman

## Tracking Changes 
Tracking Changes in Quantity, Moisture, KOR, Bags, and Rate in latest report

In [11]:
# Loading old report
ordf = pd.read_excel("GRCN Yesterday Purchases.xlsx")
print(ordf.shape)
ordf.head(2)

(87, 21)

,Date,Name,Grn #,KOR,Moisture %,# of Bags,Cum bags,wgt/bag,Net wgt,Cum wgt,...,Value,Cum value,Cheque No.,Receipt No.,Funding,SAP PO ID,Tra/Org,Wk,Month,Station
0,2025-01-13,Hamidu Ahmed Harrison,151,NaN,11.9,24,24,84.833333,2036.0,2036.0,...,44792.0,44792.0,85,0002,C&C,NaN,NaN,3,Jan,Techiman
1,2025-01-13,Adam Kwadwo Fordjour,152,NaN,11.9,23,47,85.086957,1957.0,3993.0,...,43054.0,87846.0,86,4501,C&C,NaN,NaN,3,Jan,Techiman

In [12]:
# Print the shapes of combined_df and ordf
print(f"Shape of combined_df: {combined_df.shape}")
print(f"Shape of ordf: {ordf.shape}")

Shape of combined_df: (91, 21)
Shape of ordf: (87, 21)

In [13]:
# Identify new GRNs in combined_df but not in ordf
new_grns = combined_df[~combined_df['Grn #'].isin(ordf['Grn #'])]

# Check if there are any new GRNs
if not new_grns.empty:
    print(f"Number of new GRNs: {new_grns.shape[0]}")
    print(new_grns)
else:
    print("No new GRNs found.")

Number of new GRNs: 4
         Date                    Name  Grn #  KOR  Moisture %  # of Bags  \
89 2025-02-03  Fordjour Adam Ventures  192.0  NaN         9.6       66.0
26 2025-02-03    Gabriel Kwabena Fosu   68.0  NaN        10.0      206.0
88 2025-02-03   Hamidu Ahmed Harrison  191.0  NaN         8.1       92.0
90 2025-02-03  Fordjour Adam Ventures  193.0  NaN         9.7       24.0

    Cum bags    wgt/bag   Net wgt    Cum wgt  ...     Value   Cum value  \
89    2450.0  86.515152   5710.00  207244.05  ...  137040.0  4789430.45
26     651.0         80  16480.00   55287.00  ...  395520.0  1264750.50
88    2384.0  86.826087   7988.00  201534.05  ...  188516.8  4652390.45
90    2474.0   84.13125   2019.15  209263.20  ...   48459.6  4837890.05

    Cheque No. Receipt No. Funding SAP PO ID  Tra/Org   Wk  Month   Station
89         415         NaN     C&C       NaN      NaN  5.0    Feb  Techiman
26         358         NaN      PF       NaN      NaN  5.0    Feb     Drobo
88         NaN         NaN      PF       NaN      NaN  5.0    Feb  Techiman
90         420         NaN     C&C       NaN      NaN  5.0    Feb  Techiman

[4 rows x 21 columns]

In [14]:
# Define the desired column order
column_order = [
    'Date', 'Station', 'Name', 'Grn #', 'KOR', 'Moisture %', '# of Bags', 'Cum bags', 
    'wgt/bag', 'Net wgt', 'Cum wgt', 'Rate', 'Value', 'Cum value', 'Cheque No.', 
    'Receipt No.', 'Funding', 'SAP PO ID', 'Tra/Org', 'Wk', 'Month'
]

# Rearrange columns in the combined_df
combined_df = combined_df[column_order]

# Display the first few rows of the rearranged DataFrame to confirm
print(combined_df.shape)
combined_df.head(2)

(91, 21)

,Date,Station,Name,Grn #,KOR,Moisture %,# of Bags,Cum bags,wgt/bag,Net wgt,...,Rate,Value,Cum value,Cheque No.,Receipt No.,Funding,SAP PO ID,Tra/Org,Wk,Month
48,2025-01-13,Techiman,Hamidu Ahmed Harrison,151.0,NaN,11.9,24.0,24.0,84.833333,2036.0,...,22.0,44792.0,44792.0,85,0002,C&C,NaN,NaN,3.0,Jan
49,2025-01-13,Techiman,Adam Kwadwo Fordjour,152.0,NaN,11.9,23.0,47.0,85.086957,1957.0,...,22.0,43054.0,87846.0,86,4501,C&C,NaN,NaN,3.0,Jan

# Summary statistical analysis

#### Overall

In [15]:
# Calculate the summary statistics
total_quantity = combined_df['Net wgt'].sum()
total_number_of_bags = combined_df['# of Bags'].sum()
total_quantity_in_tons = total_quantity / 1000
average_kor = combined_df['KOR'].mean()
average_moisture = combined_df['Moisture %'].mean()
average_rate = combined_df['Rate'].mean()

# Display the results
print(f"Total Quantity: {total_quantity:.2f} kg")
print(f"Total Number of Bags: {total_number_of_bags}")
print(f"Total Quantity (in tons): {total_quantity_in_tons:.2f} tons")
print(f"Average KOR: {average_kor:.2f}")
print(f"Average Moisture %: {average_moisture:.2f}%")
print(f"Average Rate: {average_rate:.2f}")

Total Quantity: 458769.80 kg
Total Number of Bags: 5370.0
Total Quantity (in tons): 458.77 tons
Average KOR: 50.04
Average Moisture %: 11.43%
Average Rate: 22.67

#### station based

In [16]:
# Group by 'Station' and calculate the required statistics
station_summary = combined_df.groupby('Station').agg(
    total_quantity=('Net wgt', 'sum'),
    total_number_of_bags=('# of Bags', 'sum'),
    total_quantity_in_tons=('Net wgt', lambda x: x.sum() / 1000),
    average_kor=('KOR', 'mean'),
    average_moisture=('Moisture %', 'mean'),
    average_rate=('Rate', 'mean')
).reset_index()

# Display the results
print(station_summary)

       Station  total_quantity  total_number_of_bags  total_quantity_in_tons  \
0        Drobo         55287.0                 651.0                 55.2870
1  Nkrankwanta         39704.0                 476.0                 39.7040
2        Sampa         17055.0                 176.0                 17.0550
3     Techiman        209263.2                2474.0                209.2632
4       Wenchi        137460.6                1593.0                137.4606

   average_kor  average_moisture  average_rate
0    49.555263         12.000000     22.625000
1    51.560000          9.100000     22.600000
2    51.192500         12.950000     22.500000
3          NaN         10.434884     22.820930
4          NaN         12.980952     22.452381

In [17]:
# Group by 'Funding' and calculate the required statistics
funding_summary = combined_df.groupby('Funding').agg(
    total_quantity=('Net wgt', 'sum'),
    total_number_of_bags=('# of Bags', 'sum'),
    total_quantity_in_tons=('Net wgt', lambda x: x.sum() / 1000),
    average_kor=('KOR', 'mean'),
    average_moisture=('Moisture %', 'mean'),
    average_rate=('Rate', 'mean')
).reset_index()

# Group by 'Month' and calculate the required statistics
month_summary = combined_df.groupby('Month').agg(
    total_quantity=('Net wgt', 'sum'),
    total_number_of_bags=('# of Bags', 'sum'),
    total_quantity_in_tons=('Net wgt', lambda x: x.sum() / 1000),
    average_kor=('KOR', 'mean'),
    average_moisture=('Moisture %', 'mean'),
    average_rate=('Rate', 'mean')
).reset_index()

# Get today's date and filter for records from today - 1 day
today_date = pd.to_datetime('today').normalize() - pd.Timedelta(days=1)
today_purchases = combined_df[combined_df['Date'] == today_date]

# Group by 'Station' and calculate the required statistics for today's purchases
today_summary = today_purchases.groupby('Station').agg(
    total_quantity=('Net wgt', 'sum'),
    total_number_of_bags=('# of Bags', 'sum'),
    total_quantity_in_tons=('Net wgt', lambda x: x.sum() / 1000),
    average_kor=('KOR', 'mean'),
    average_moisture=('Moisture %', 'mean'),
    average_rate=('Rate', 'mean')
).reset_index()

# Save all the summaries to Excel
with pd.ExcelWriter("Purchases_Summary.xlsx") as writer:
    funding_summary.to_excel(writer, sheet_name="Funding Summary", index=False)
    month_summary.to_excel(writer, sheet_name="Month Summary", index=False)
    today_summary.to_excel(writer, sheet_name="Today's Purchases", index=False)
    station_summary.to_excel(writer, sheet_name="Station's Purchases", index=False)


print("Summaries have been saved to 'Purchases_Summary.xlsx'.")

Summaries have been saved to 'Purchases_Summary.xlsx'.

# Specify the columns to check for changes
columns_to_check = ['Net wgt', 'Moisture %', 'KOR', '# of Bags', 'Rate']

# Merge the DataFrames on 'Grn #'
merged_df = combined_df.merge(ordf, on='Grn #', suffixes=('_new', '_old'))

# Initialize a list to store rows with changes
changes_list = []

# Loop through each row to compare
for _, row in merged_df.iterrows():
    changes = {}
    for column in columns_to_check:
        new_col = f"{column}_new"
        old_col = f"{column}_old"
        # Compare values, handling NaN and numeric precision
        new_value = row[new_col]
        old_value = row[old_col]
        if pd.isna(new_value) and pd.isna(old_value):
            continue  # Skip if both are NaN
        elif new_value != old_value and not (pd.isna(new_value) or pd.isna(old_value)):
            changes['Grn #'] = row['Grn #']
            changes[new_col] = new_value
            changes[old_col] = old_value
    if changes:  # Append only if there are changes
        changes_list.append(changes)

# Convert the list of changes to a DataFrame
changes_df = pd.DataFrame(changes_list)

# Display the changes
print(f"Number of rows with changes: {changes_df.shape[0]}")
print(changes_df)

In [18]:
combined_df.to_excel('combined_data.xlsx', index=False)